.item {

  input {
    outline: 0;
    border: none;
    height: 2.375rem;
    border: 1px solid rgb(238, 238, 238);
    border-radius: 4px;
    vertical-align: middle;
    display: inline-block;
    font-size: 14px;
    align-items: center;
    transition: all 300ms ease-in;
    box-sizing: border-box;
    line-height: 1.5;
    width: 100%;
  }
  .withdraw {
    display: flex;
    height: 2.375rem;
    /* line-height: 1.5; */
    label {
      width: 9rem;
      text-align: right;
      padding-right: 1rem;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
    input {
      width: 19.875rem;
    }
    .fee {
      width: 12rem;
      font-size: 0.875rem;
      margin-left: 0.625rem;
      margin-right: 0.5rem;
      .number {
        margin: 0 0.3125rem;
        color: rgba(0, 200, 82, 1);
        font-size: 1.2rem;
      }
    }
  }

  .vcode {
    display: flex;
    height: 2.375rem;
    line-height: 1.5;
    label {
      width: 9rem;
      text-align: right;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      padding-right: 1rem;
    }
    input {
      width: 12.25rem;
      margin-right: 0.625rem;
    }
    button {
      width: 7rem;
      color: #fff;
      background: rgba(0, 200, 82, 1) !important;
    }
    .vcodeButton {
      position: relative;
      .sendCodeTip {
        position: absolute;
        right: 10px;
        top: -25px;
        width: 280px;
        text-align:right;
        color: #999;
        font-size: 0.75rem !important;
      }
    }
  }
  .detail {
    position: relative;
    .detailContent {
      position: absolute;
      left: -7rem;
      line-height: 1.25rem;
      width: 14.75rem;
      padding: 1rem;
      font-size: 0.75rem;
      background: #fff;
      color: rgba(153, 153, 153, 1);
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
      display: none;
      z-index: 999;
    }
  }
  .detail:hover {
    .detailContent {
      display: block;
    }
  }

  button {
    outline: none;
    padding: 0;
    border: none;
    width: 100%;
    height: 2.375rem;
    align-items: center;
    line-height: normal;
    justify-content: center;
    background-color: rgba(0, 200, 82, 1) !important;
    transition: all 300ms ease-in;
    border-radius: 4px;
    box-sizing: border-box;
    color: #fff;
  }

  .hasLeftSymbol {
    input {
      padding-left: 2.5rem;
    }
  }

  .inputError {
    input {
      border: 1px solid #d95038;
    }
  }

  .hasRightBtn {
    display: flex;
    justify-content:space-between;

    input {
      width: calc(50% + 30px);
    }

    .rightBtn {
      width: calc(50% - 35px);
      position: relative;

      .sendCodeTip {
        position: absolute;
        right: 10px;
        top: -18px;
        width: 280px;
        text-align:right;
        color: #999;
        font-size: 0.75rem !important;
      }
    }

    @media only screen and (max-width: 460px) {
      input {
        width: 50%;
      }
      .rightBtn {
        width: calc(50% - 10px);
      }
    }
  }

  .hasRightSymbol {
    input {
      padding-right: 2.5rem;
    }
  }

  input:focus {
   border: 1px solid rgba(0, 200, 82, 1);
  }

  input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px white inset;
  }

  .input {
    position: relative;
  }

  .leftSymbol {
    position: absolute;
    left: .625rem;
    top: .625rem;
  }

  .rightSymbol {
    position: absolute;
    right: .625rem;
    top: .625rem;
  }

  .blank {
    height: 1rem;
  }

  .errorTip {
    padding: 0.24rem 0;
    font-size: 12px;
    color: #d95038;
    text-align: left;
  }
  .ErrorTip {
    font-size: 12px;
    color: #d95038;
    text-align: left;
    margin-left: 9rem;
  }
}
